#l1
{
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    font:bold 13px arial,serif;
}

#l2
{
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    font:13px arial,serif;
}

#l3
{
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    font:13px arial,serif;
    background-color: rgb(34, 163, 206);
    color: white;
    width: 56px;
    height: 20px;
    line-height: 20px;
}

#baidu1
{
    margin: auto;
    position: absolute;
    top: 130px;
    left: 580px;
}
#input
{
    position: absolute;
    top: 200px;
    left: 370px;
}
#QR
{
    margin: auto;
    position: absolute;
    top: 360px;
    left: 615px;
}
#low
{
    font: 12px arial,serif;
    float: left;
    margin-right: 20px;
    margin-top: 10px;
    color: gray;
    text-decoration: underline;
}
#low1
{
    font: 12px arial,serif;
    float: left;
    margin-right: 15px;
    margin-top: 10px;
    color: gray;
}